p,span{
    color: gray;
}.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}.ul-genre li{
    padding: 5px;
}.ul-genre li:hover{
    text-decoration: underline;   
}